.game {
  position:relative;
  height: 90%;
  width: 90%;
  border: 1px solid black;
  overflow: hidden;
}

.sky {
  background: url('../img/bg_gradient.png');
  height: 391px;
}

.clouds {
  bottom: 100px;
}

.buildings {
  bottom: 25px;
}

.grass {
  bottom: -20px;
}

.sprite {
  display:inline-block;
}

.pan {
  width:100%;
  position: absolute;
}

.player {
  position: absolute;
  left: 10%;
  bottom: 19px;
}